.btn {
  width: 296px;
  height: 56px;
  background-color: #ed1c24;
  text-transform: uppercase;
  font-size: 18px;
}
.btn span {
  font-weight: bold;
}

.btn:hover {
  background-color: black;
}

.btn-primary {
  border: none;
}